@keyframes menu_select{
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}
@keyframes mobile_menu_animation{
    0%{
        opacity: 0;
        width: 0;
    }
    100%{
        opacity: 1;
        width: 100%;
    }
}
@keyframes highlight_animation{
    0%{
        opacity: 0;
        width: 0;
    }
    100%{
        opacity: 1;
        width: 100%;
    }
}
@keyframes dot_animation{
    0%, 100%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(-5px);
    }
}
@keyframes rotate_animation_left{
    0%{
        transform: translate(-70%, -50%) rotate(0);
    }
    100%{
        transform: translate(-70%, -50%) rotate(360deg);
    }
}
@keyframes rotate_animation_right{
    0%{
        transform: translate(70%, -50%) rotate(360deg);
    }
    100%{
        transform: translate(70%, -50%) rotate(0);
    }
}
@keyframes menu_title_animation{
    0%{
        opacity: 0;
        width: 0;
    }
    100%{
        opacity: 1;
        width: 110%;   
    }
}
@keyframes read_more_animation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes underline_animation{
    0%{
        opacity: 0;
        width: 0;
    }
    100%{
        opacity: 1;
        width: 100%;
    }
}