@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

body{
    position: relative;
    float: left;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    color: #2a3b40;
}
.hidden{
    width: 1;
    height: 1;
    position: absolute;
    font-size: 0;
    line-height: 0;
}
header{
    position: relative;
    float: left;
    width: 100%;
    background: url(../images/main_visual.png) no-repeat center;
    background-size: cover;
    overflow: hidden;
}
.header_wrapper{
    position: relative;
    margin-top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 980px;
}
.logo{
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 700;
}
.logo.zIndex{
    z-index: -2;
}
.logo a{
    text-decoration: none;
    color: rgba(255, 255, 255, .75);
}
.pc_nav{
    font-size: 2em;
    font-weight: 700;
}
.main_menu{
    position: absolute;
    right: 0;
    top: 0;
}
.main_menu li{
    position: relative;
    float: left;
    margin-right: 25px;
}
.main_menu li:last-child{
    margin-right: 0;
}
.main_menu li a{
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
    transition: all .5s ease;
}
.main_menu li a:hover{
    color: rgba(255, 255, 255, 1);
}
.main_menu li:hover:before{
    content: '';
    position: absolute;
    bottom: -10px;
    width: 50%;
    left: 50%;
    border-bottom: 4px solid white;
    animation: menu_select .3s linear;
}
.main_menu li:hover:after{
    content: '';
    position: absolute;
    bottom: -10px;
    width: 50%;
    right: 50%;
    border-bottom: 4px solid white;
    animation: menu_select .3s linear;
}
.mobile_nav{
    position: relative;
    float: right;
    right: 0;
    display: none;
}
.menu_icon_wrapper{
    position: absolute;
    width: 50px;
    height: 45px;
    right: 0;
    background-color: rgba(255, 255, 255, .75);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: .75;
    transition: all .3s ease;
}
.menu_icon_wrapper:hover, .menu_icon_wrapper.click{
    opacity: 1;
}
.menu_icon{
    position: relative;
    width: 37px;
    height: 3px;
    background-color: #2a3b40;
    transition: all .3s ease-in-out;
    z-index: 1;
}
.menu_icon:before, .menu_icon:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2a3b40;
    transition: all .3s ease-in-out;
}
.menu_icon:before{
    transform: translateY(-12px);
}
.menu_icon:after{
    transform: translateY(12px);
}
.menu_icon_wrapper.click .menu_icon{
    transform: translateX(-36px);
    background: transparent;
    box-shadow: none;
}
.menu_icon_wrapper.click .menu_icon:before{
    transform: rotate(45deg) translate(25px, -25px);
}
.menu_icon_wrapper.click .menu_icon:after{
    transform: rotate(-45deg) translate(25px, 25px);
}
.mobile_menu{
    position: absolute;
    right: 0;
    background-color: white;
    padding: 10px 70px 10px 15px;
    font-size: 1.125em;
    font-weight: 500;
    transform: translateX(100%);
    transition: all .7s ease;
    opacity: 0;
}
.mobile_menu.click{
    opacity: 1;
    transform: translateX(0);
}
.mobile_menu li{
    position: relative;
    margin-bottom: 12px;
}
.mobile_menu li:last-child{
    margin-bottom: 0;
}
.mobile_menu li a{
    position: relative;
    text-decoration: none;
    color: #2a3b40;
}
.mobile_menu li a:hover:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid #2a3b40;
    animation: mobile_menu_animation .2s linear;
}
.header_message{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 220px 0;
    width: 77.5510%;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255 , .75);
}
.header_message p:nth-child(1){
    font-size: 4.5em;
    font-family: 'Cookie', cursive;
}
.header_message p:nth-child(2){
    font-size: 4em;
    font-weight: 600;
    color: #ad6c12;
    margin-bottom: 20px;
}
.header_message p:nth-child(3){
    position: relative;
    font-size: 2em;
    font-weight: 600;
    padding: 7px 15px;
/*     background-color: white; */
    cursor: pointer;
}
.header_message p:nth-child(3):after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 46px;
    z-index: -1;
}
.header_message p:nth-child(3):hover:after{
    animation: highlight_animation .5s linear;
}
.contents{
    position: relative;
    width: 100%;
    float: left;
}
.group1{
    position: relative;
    float: left;
    width: 100%;
    background-color: #2a3b40;
    padding: 70px 0;
}
.group1_wrapper{
    position: relative;
    width: 980px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.group1_text_box{
    position: relative;
    width: 50%;
    color: white;
}
.group1_title{
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 50px;
}
.group1_description{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.75em;
}
.group1_img{
    position: relative;
    width: 47%;
    overflow: hidden;
}
.group1_img img{
    width: 100%;
    transition: all .5s ease;
}
.group1_img img:hover{
    transform: scale(1.05);
}
.group2{
    position: relative;
    float: left;
    width: 100%;
    background-color: #d4d8d9;
    padding: 100px 0;
}
.group2_wrapper{
    position: relative;
    float: left;
    width: 980px;
    left: 50%;
    transform: translateX(-50%);
}
.group2_list{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.group2_list li{
    position: relative;
    width: 30%;
}
.group2_list li:hover:before{
    animation: dot_animation 1s ease-out infinite;
}
.group2_list li:nth-child(1):before{
    content: '●';
    position: absolute;
    font-size: 1.75em;
}
.group2_list li:nth-child(2):before{
    content: '●●';
    position: absolute;
    font-size: 1.75em;
}
.group2_list li:nth-child(3):before{
    content: '●●●';
    position: absolute;
    font-size: 1.75em;
}
.group2_list_title{
    font-weight: 700;
    margin: 30px 0;
    padding-top: 30px;
}
.group2_list_description{
    font-size: 0.875em;
    line-height: 1.5em;
    font-weight: 400;
}
.group3{
    position: relative;
    width: 100%;
    float: left;
    background: url(../images/contents_bg1.png) no-repeat center;
    background-size: cover;
    padding: 60px 0;
}
.group3_wrapper{
    padding-top: 50px;
    position: relative;
    float: left;
    width: 980px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, .75);
    text-align: center;
}
.group3_title1{
    font-family: 'Cookie', cursive;
    font-size: 3.5em;
    line-height: 0.75em;
}
.group3_title2{
    font-size: 2.25em;
    color: #ad6c12;
    font-weight: 600;
    margin-bottom: 50px;
}
.gallery_list{
    position: relative;
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
}
.gallery_list li{
    min-width: 100%;
    display: flex;
    flex-direction: row;
}
.gallery_list li.select{
    color: white;
    background-color: #2a3b40;
}
.gallery_img{
    width: 50%;
    overflow: hidden;
}
.gallery_img img{
    width: 100%;
    display: block;
    transition: all .5s ease;
}
.gallery_img img.select{
    transform: scale(1.07);
}
.plate{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.plate_title{
    font-weight: 700;
}
.plate_description{
    margin: 25px 0;
    font-size: 0.9375em;
    line-height: 1.2em;
}
.plate_price{
    font-weight: 700;
}
.group4{
    position: relative;
    width: 100%;
    float: left;
    background-color: #d4d8d9;
    overflow: hidden;
}
.group4_wrapper{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 90px 0 65px;
}
.group4_wrapper:before{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: url(../images/pattern.png) no-repeat center;
    background-size: cover;
    left: 0;
    top: 50%;
    transform: translate(-70%, -50%);
    z-index: -1;
    animation: rotate_animation_left 25s linear infinite;
}
.group4_wrapper:after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: url(../images/pattern.png) no-repeat center;
    background-size: cover;
    right: 0;
    top: 50%;
    transform: translate(70%, -50%);
    z-index: -1;
    animation: rotate_animation_right 25s linear infinite;
}
.group4_title{
    font-weight: 700;
    font-size: 1.5em;
}
.group4_description{
    width: 71.4285%;
    font-size: 0.9375em;
    margin-top: 40px;
    line-height: 1.75em;
}
.group4_description:after{
    content: '●●●';
    display: block;
    margin-top: 50px;
    font-size: 1.5em;
}
.group4_list{
    display: flex;
    flex-direction: row;
    font-size: 0.9375em;
    font-weight: 700;
    margin-top: 40px;
}
.group4_list li{
    position: relative;
    margin-right: 50px;
    transition: all .3s ease;
}
.group4_list li:hover{
    transform: translateY(-7px);
}
.group4_list li:last-child{
    margin-right: 0;
}
.group4_list li a{
    text-decoration: none;
    color: #2a3b40;
}
.group5{
    position: relative;
    width: 100%;
    float: left;
    background: url(../images/contents_bg2.png) no-repeat center;
    background-size: cover;
    padding-top: 235px;
}
.group5_wrapper_bg{
    width: 100%;
    position: relative;
    float: left;
    bottom: 0;
    background-color: rgba(255, 255, 255, .75);
    padding: 35px 0 60px;
}
.group5_wrapper{
    position: relative;
    width: 980px;
    left: 50%;
    transform: translateX(-50%);
}
.group5_title1{
    font-family: 'Cookie', cursive;
    font-size: 3.5em;
    line-height: 0.75em;
    text-align: center;
}
.group5_title2{
    font-size: 2.25em;
    color: #ad6c12;
    font-weight: 600;
    margin-bottom: 35px;
    text-align: center;
}
.menu_menu_wapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.new_menu{
    position: relative;
    width: 40.8163%;
    display: flex;
    flex-direction: column;
    float: left;
}
.new_menu li{
    margin-bottom: 55px;
}
.new_menu li:last-child{
    margin-bottom: 0;
}
.new_menu li:before{
    content: '';
    position: relative;
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 5px;
}
.new_menu:nth-child(1) li:nth-child(1):before{
    background: url(../images/chicken.png) no-repeat center;
    background-color: white;
}
.new_menu:nth-child(1) li:nth-child(1):hover:before{
    filter: invert(100%);
    -webkit-filter: invert(100%);
    background-color: #d5c4bf;
}
.new_menu:nth-child(1) li:nth-child(2):before{
    background: url(../images/chapati.png) no-repeat center;
    background-color: white;
}
.new_menu:nth-child(1) li:nth-child(2):hover:before{
    -webkit-filter: invert(100%);
    filter: invert(100%);
    background-color: #d5c4bf;
}
.new_menu:nth-child(1) li:nth-child(3):before{
    background: url(../images/curry.png) no-repeat center;
    background-color: white;
}
.new_menu:nth-child(1) li:nth-child(3):hover:before{
    -webkit-filter: invert(100%);
    filter: invert(100%);
    background-color: #d5c4bf;
}
.new_menu:nth-child(2) li:nth-child(1):before{
    background: url(../images/chole_bhature.png) no-repeat center;
    background-color: white;
}
.new_menu:nth-child(2) li:nth-child(1):hover:before{
    -webkit-filter: invert(100%);
    filter: invert(100%);
    background-color: #d5c4bf;
}
.new_menu:nth-child(2) li:nth-child(2):before{
    background: url(../images/yellow_curry.png) no-repeat center;
    background-color: white;
}
.new_menu:nth-child(2) li:nth-child(2):hover:before{
    -webkit-filter: invert(100%);
    filter: invert(100%);
    background-color: #d5c4bf;
}
.new_menu:nth-child(2) li:nth-child(3):before{
    background: url(../images/laddu.png) no-repeat center;
    background-color: white;
}
.new_menu:nth-child(2) li:nth-child(3):hover:before{
    -webkit-filter: invert(100%);
    filter: invert(100%);
    background-color: #d5c4bf;
}
.new_menu_title{
    position: relative;
    font-weight: 700;
    margin-bottom: 20px;
    display: inline-block;
}
.new_menu_title.hover{
    color: white;
}
.new_menu_title.hover:after{
    content: '';
    position: absolute;
    left: -5%;
    bottom: 2px;
    width: 110%;
    border-bottom: 15px solid #2a3b40;
    z-index: -1;
    animation: menu_title_animation .2s linear;
}
.new_menu_description{
    font-size: 0.9375em;
    line-height: 1.25em;
}
.new_menu_price{
    font-weight: 700;
    margin-left: 5px;
}
.group6{
    position: relative;
    float: left;
    width: 100%;
    height: 880px;
    background: url(../images/contents_bg3.png) no-repeat center;
    background-size: cover;
}
.group7{
    position: relative;
    float: left;
    width: 100%;
    background-color: #2a3b40;
    color: white;
    padding: 45px 0 70px;
}
.group7_wrapper{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 980px;
}
.group7_title{
    font-family: 'Cookie', cursive;
    font-size: 3.5em;
    line-height: 0.75em;
    text-align: center;
    margin-bottom: 35px;
}
.book_list_wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 55px;
}
.book_list{
    position: relative;
    font-size: 0.9375em;
}
.book_list li{
    position: relative;
    margin-bottom: 40px;
}
.book_list li:last-child{
    margin-bottom: 0;
}
.book_list_title{
    font-weight: 500;
    margin-bottom: 7px;
}
.select_box{
    font-size: 0.9375em;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 7px;
    box-sizing: border-box;
    width: 240px;
    height: 32px;
    color: white;
    text-indent: 5px;
}
.select-selected{
  background-color: #2a3b40;
}
.select_box{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;    
    background: url(../images/select_arrow.png) no-repeat 96%;
    background-size: 13px 10px;
}
.clock::-webkit-calendar-picker-indicator{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;   
    background: url(../images/clock.png) no-repeat;
    background-size: 20px 20px;
    margin-right: 5px;
}
.clock::-webkit-calendar-picker-indicator:focus{
    outline: none;
}
.select_box::-ms-expand{
    display: none;
}
.select_box:focus{
    outline: none;
}
option{
    background-color: #2a3b40;
}
.book_list input{
    font-size: 0.9375em;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 7px;
    box-sizing: border-box;
    width: 240px;
    height: 32px;
    color: white;
    text-indent: 5px;
}
.calender::-webkit-calendar-picker-indicator{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;   
    background: url(../images/calendar.png) no-repeat;
    background-size: 20px 18px;
    margin-right: 5px;
}
.calender::-webkit-calendar-picker-indicator:focus{
    outline: none;
}
.book_list input::placeholder{
    color: rgba(255, 255, 255, .75);
}
input:-ms-input-placeholder{
    color: rgba(255, 255, 255, .75);
}
.book_list input:focus{
    outline: none;
}
.book_submit{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9375em;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    border: 2px solid white;
    border-radius: 7px;
    box-sizing: border-box;
    width: 240px;
    height: 32px;
    color: #2a3b40;
    cursor: pointer;
    transition: all .3s ease;
}
.book_submit:hover{
    background-color: #2a3b40;
    color: white;
}
.book_submit:focus{
    outline: none;
}
.group8{
    position: relative;
    float: left;
    width: 100%;
    height: 880px;
    background: url(../images/contents_bg4.png) no-repeat center;
    background-size: cover;
}
.group9{
    position: relative;
    width: 100%;
    float: left;
    background-color: #d4d8d9;
    padding: 45px 0 120px;
}
.group9_wrapper{
    position: relative;
    width: 980px;
    left: 50%;
    transform: translateX(-50%);
}
.group9_title1{
    font-family: 'Cookie', cursive;
    font-size: 3.5em;
    line-height: 0.75em;
    text-align: center;
}
.group9_title2{
    font-size: 2.25em;
    color: #ad6c12;
    font-weight: 600;
    margin-bottom: 55px;
    text-align: center;
}
.discover_menu{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.discover_menu li{
    position: relative;
    width: 31%;
    transition: all .3s ease;
}
.discover_menu li:hover{
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .15);
    transform: translateY(-10px);
}
.discover_menu img{
    width: 100%;
    display: block;
}
.discover_menu_box{
    width: 100%;
    float: left;
    background-color: white;
    padding: 25px 0px 30px;
    font-size: 0.875em;
}
.discover_menu_date{
    font-weight: 700;
    margin-bottom: 25px;
    text-indent: 25px;
}
.discover_menu_title{
    font-weight: 700;
    text-indent: 25px;
    margin-bottom: 7px;
}
.discover_menu_description{
    line-height: 1.25em;
    width: 80%;
    margin-left: 25px;
    margin-bottom: 25px;
}
.read_more{
    position: relative;
    margin-left: 25px;
    font-weight: 700;
    box-sizing: border-box;
    cursor: pointer;
}
.read_more:hover{
    animation: read_more_animation 1s linear;
}
.read_more:after{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    border-bottom: 5px solid #ff992b;
}
.read_more:hover:after{
    animation: underline_animation .5s linear;
}
footer{
    position: relative;
    width: 100%;
    float: left;
}
.social{
    position: relative;
    width: 100%;
    float: left;
    background-color: #2a3b40;
    color: white;
    padding-top: 45px;
}
.social_wrapper{
    width: 980px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.social_text{
    position: relative;
    width: 71.4285%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 1.75em;
    font-weight: 300;
    letter-spacing: 0.05em;
}
.social_text:before{
    content: '';
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 28px;
    height: 23px;
    background: url(../images/quotes.png) no-repeat center;
    background-size: contain;
    margin-bottom: 40px;
}
.social_name{
    position: relative;
    font-weight: 600;
    text-align: center;
    margin: 30px 0 45px;
}
.social_list{
    position: relative;
    float: left;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 48px;
}
.social_list li{
    position: relative;
    float: left;
    margin-left: 23px;
    transition: all .3s ease;
}
.social_list li:hover{
    border-radius: 50%;
    box-shadow: 5px 15px 3px rgba(0, 0, 0, .35);
    transform: translateY(-7px);
}
.social_list li:first-child{
    margin-left: 0;
}
.social_list img{
    display: block;
}
.about{
    position: relative;
    float: left;
    width: 100%;
    background-color: #d4d8d9;
    padding: 70px 0 80px;
}
.about_wrapper{
    width: 980px;
    float: left;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.about_text_box{
    position: relative;
    float: left;
    width: 320px;
}
.about_title{
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 50px;
}
.about_description{
    letter-spacing: 0.05em;
    line-height: 1.7em;
}
.about_list{
    position: relative;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45.9183%;
}
.about_list_title{
    font-weight: 700;
    font-size: 1.125em;
    margin-bottom: 50px;
}
.about_list_submenu{
    font-weight: 500;
    font-size: 1.125em;
    line-height: 1.5em;
}
.top_button_wrapper{
    position: fixed;
    width: 1200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    transition: all .5s ease;
    opacity: 0;
    z-index: -1;
}
.top_button_wrapper.show{
    opacity: 1;
    z-index: 1;
    transform: translate(-50%, -50%);
}
.top_button{
    position: relative;
    float: right;
    width: 55px;
    height: 55px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(42, 59, 64);
    border-radius: 50%;
    cursor: pointer;
    opacity: .5;
    transition: all .3s ease;
}
.top_button:before{
    content: '';
    position: absolute;
    transform: rotate(45deg);
    width: 25px;
    height: 25px;
    top: 37%;
    left: 25%;
    box-sizing: border-box;
    border-left: 5px solid rgb(42, 59, 64);
    border-top: 5px solid rgb(42, 59, 64);
}
.top_button:focus{
    outline: none;
}
.top_button:hover{
    opacity: .75;
}